*{
	margin: 0 auto;
	box-sizing: border-box;
}
body {
   background: #F0F0F0;
}
.form-gap {
    padding-top: 48px;
}
.panel-default{
	
	box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
}
.panel-body{
	padding: 32px;
}